<h1><%= @cocktail.name %></h1>

<ul>
  <%= @cocktail.ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ul>



<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :ingredient, collection: Ingredient.all %>
  <%= f.input :description %>
    <%= f.submit "Add Ingredient" %>
<% end %>

<%= link_to "Back to All Cocktails", cocktails_path %>

